<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" standardcontroller="Applications__c" extensions="applicationExtension">
<html>
<head>
    <style>
        .clearfix:after {content: " "; /* Older browser do not support empty content */visibility: hidden; display: block; height: 0; clear: both;}
        @page { size: 8.27in 11.69in; /* A4 width and height */}
        body {font-family:Candara, Helvetica, Calibri, Arial;}
        h3 {font-size:1.5rem; font-weight:600;text-align:center;}
        p {font-size:1rem;}
        .form-a .table-1 td, .form-a .table-3 td {height:38px;}
        table {border-collapse: collapse;}
        table, td, th {border: 1px solid black;}
        table p, table h4 {margin:0 5px;}
        .form-a {float:left;}
        .table-1, .table-2 {float:left;}
        .table-2 img {margin:5px;}
        .notice {margin-top:5px;font-size:10px;}
        
    </style>
</head>
<body>  
  
  <!-- Main Container/Page 2 Start -->
  
  <div class="main-container page-2">

  
    <!-- Form A Start -->
    
    <div class="form-a">
    <apex:form >
        <table border="0" id="table-1" class="table-1" width="70%">
            <tr>
                <td colspan="2"><h4>Applicant's Personal Particulars</h4></td>
            </tr>
            <tr>
                <td style="width:33%;"><p><b>Applicant's Name</b></p></td>
                <td style="width:66%;"><p><apex:outputText value="{!Applications__c.Name__c}" /></p></td>
            </tr>
            <tr>
                <td><p><b>Name in Chinese</b></p></td>
                <td><p><apex:outputText value="{!Applications__c.Name_in_Chinese__c}" /></p></td>
            </tr>
            <tr>
                <td><p><b>HKID</b></p></td>
                <td><p><apex:outputText value="{!Applications__c.HKID__c}" /></p></td>
            </tr>
            <tr>
                <td><p><b>Passport No.</b><br /><span style="font-size:10px;font-style: italic;">(Please provide details if you do not possess a HKID card.)</span></p></td>
                <td><p><apex:outputText value="{!Applications__c.Passport_Number__c}" /></p></td>
            </tr>        
        </table>
        <table border="0" id="table-2" class="table-2" width="20%" height="213">
            <tr>
                <td style="height:209px;"><apex:image url="/servlet/servlet.FileDownload?file={!Applications__c.Image_Id__c}" width="190" /></td>
            </tr>
        </table>
        <div class="clearfix"></div>
        </apex:form>
    </div>
    
    <!-- Form A End -->
    
  </div>
  
  <!-- Main Container/Page 2 End -->

</body>
</html>
</apex:page>