<apex:page showHeader="false" sidebar="false" StandardController="Applications__c" extensions="cloneApplicationToDoctor" action="{!doctorInformation}">


             <script type="text/javascript">



                        if('{!message}' && '{!accountID}'){

                         


                            //opener.location.href = 'https://ghkdev--dev1.cs6.my.salesforce.com/'+'{!accountID}';
                            window.location.href='https://ghkdev--dev1.cs6.my.salesforce.com/'+'{!accountID}';
                            close();



                      }


            </script>


           <apex:sectionHeader title="Clone Application to Doctor" subtitle="Clone Application to Doctor" />
                    <apex:form id="form" title="form">
                          <h1>{!message}</h1>


                     </apex:form>

</apex:page>